 <div class="beige-wrapper">
  
            <div class="heading"><h2>情報編集</h2>
            <p>Information Edit</p></div>


        <div class="press">
                <div class="presses">
                    <div class="press-icon">
                                <h2><%= link_to  '事業所情報' , '/companies' %></h2>
                    </div>
				</div>
        </div>
        <div class="press">
                <div class="presses">
                    <div class="press-icon">
                                <h2><%= link_to  '就業規則' ,'/employments' %></h2>
                    </div>
              </div>
        </div>
        <div class="press">
                <div class="presses">
                    <div class="press-icon">
                                <h2><%= link_to  '従業員情報' , '/workers' %></h2>
                    </div>
               </div>
         </div>
                             <div class="clear"></div>

  </div>

