  <div class="beige-wrapper">
  
            <div class="heading"><h2>顧客一覧</h2>
            <p>Customer List</p></div>


            <table>
	            <tbody>
		            <tr>
			            <th>会社名</th>
			            <th>代表者姓</th>
		                <th>電話番号</th>
			            <th>メールアドレス</th>
			            <th>編集/削除</th>
		            </tr>
            

		            <tr>
			            <td>											
			            </td>
			            <td><%= @company.first_name %></td>
			            <td></td>
			            <td></td>
			            <td></td>
		            </tr>
	            </tbody>
            </table>      

    
    
 </div>
